.titulomenu {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.titulomenu2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
        color: #000000;
}

.titulocadastro {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}
.itemmenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.itemmenu2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.itemmenu3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}
.linhamenu {
        height:30px;
}
.listagem {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

.lista2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.dtycampo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.dtycamposub {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.formRow {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.tituloGrade {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.botaotituloPergunta {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	BACKGROUND-COLOR: #dee3da;
	border-style:solid;
	border-width:1px;
}
.botaotituloPerguntaN {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	BACKGROUND-COLOR: #dee3da;
	font-weight: bold;
	border-style:solid;
	border-width:1px;
}
.botaotituloPergunta2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	BACKGROUND-COLOR: #ea9e00;
}
